#设备平台
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_FEED_video=n

#设备列表
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax4200=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax4200q=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_asus_tuf-ax6000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-stock=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_a10-stock=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_a10-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000me=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-e393ax=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-wr632ax=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-wr632ax-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_comfast_cf-xr186=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_creatlentem_clt-r30b1=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_creatlentem_clt-r30b1-112m=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1-256mb=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3600be=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt6000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-x3000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-xe3000=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_globitel_bt-r320=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_h3c_magic-nx30-pro-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_huasifei_wh3000-emmc=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_huasifei_wh3000-pro-emmc=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_huasifei_wh3000-pro-nand=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_imou_hx21=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jcg_q30-pro=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jdcloud_re-cp-03=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_konka_komi-a31=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_nokia_ea0326gmp=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7-ubi=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ruijie_rg-x60=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ruijie_rg-x60-pro=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_supergateway_s20l=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_supergateway_s20p=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tenda_be12-pro=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-7dr7230-v1=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-7dr7230-v2=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-7dr7250-v1=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-7dr7299-v1=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr4288=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6086=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xdr6088=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_tl-xtr8488=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_wma301-v2-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_tplink_wma301-v2-256m-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-stock=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-stock=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-ubootmod=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax-v2=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax-c=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8106ax-s=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8106ax-t=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zbtlink_zbt-z8803be=n
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_zyxel_ex5700-telenor=n

# WIFI驱动 - 保留各设备 DEVICE_PACKAGES 中的默认无线驱动

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-cryptodev=y

#  USB Support
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_libnvme=y
CONFIG_PACKAGE_kmod-ata-core=y
CONFIG_PACKAGE_kmod-ata-ahci=y
CONFIG_PACKAGE_nvme-cli=y
CONFIG_PACKAGE_f2fs-tools=y

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_rclone=n

# Enable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cupsd=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-emmc-health=y
CONFIG_PACKAGE_luci-app-quickfile=n
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=n
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-linkease=y
CONFIG_PACKAGE_luci-i18n-linkease-zh-cn=y
CONFIG_PACKAGE_luci-app-axonhub=n
